# Since .env.local is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# We use dotenv to load Prisma from Next.js' .env.local file
# @see https://www.prisma.io/docs/reference/database-reference/connection-urls
# DATABASE_URL='mysql://user:password@host/db?sslaccept=strict'
DATABASE_URL='postgres://yaklion:Ti1dHKlnak2Y@ep-shiny-frog-073016.ap-southeast-1.aws.neon.tech/neondb?pgbouncer=true&connect_timeout=10'

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_"
CLERK_SECRET_KEY="sk_test_"

# Stripe
STRIPE_API_KEY="sk_test_"
STRIPE_WEBHOOK_SECRET="whsec_"
NEXT_PUBLIC_STRIPE_STD_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_STD_MONTHLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_PRO_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PRICE_ID="price_"

# Misc
NEXTJS_URL="http://localhost:3000"

DISCORD_CLIENT_ID=1085873118393925682
DISCORD_CLIENT_SECRET=e-ZPT75kLY5jLv2-WY6TNkTT71zE_akC




GITHUB_TOKEN=ghp_qJYj1YpwxKq6f9LfYHRfchLa2ZxFDd3PNyxx

# OPENAI_API_HOST=https://api.openai.com
OPENAI_API_HOST=https://api-prod-v1.zeabur.app
OPENAI_API_TYPE=openai
OPENAI_API_KEY=sk-8eKEAOfxBkeSmf8R4a00Cb8a4aEa44B28464B35889F08525

# DMF_URL=https://raw.githubusercontents.com/dmfos/dmf/main/dmfs.json
DMF_URL=https://raw.gitmirror.com/dmfos/dmf/main/dmfs.json
DMF_TTL=24 * 60 * 60
FILE_DOWNLOAD_LIMIT_SIZE=40000
INCLUDED_FILE_MATCH_PATTERN='\.env.*|\.env'


